/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/

$header-height: 3rem;

/*========== Colors ==========*/
$hue: 45; //  Yellow: 45   | Red: 4 | Orange: 18  | Green: 118
$sat: 98%; // Yellow: 98% | Red: 90% | Orange: 85% | Green: 50%
$first-color: hsl($hue, $sat, 60%);
$first-color-light: hsl($hue, $sat, 85%);
$first-color-lighten: hsl($hue, $sat, 80%);
$first-color-alt: hsl($hue, $sat, 53%);
$title-color: hsl($hue, 4%, 15%);
$text-color: hsl($hue, 4%, 35%);
$text-color-light: hsl($hue, 4%, 65%);
$body-color: hsl($hue, 0%, 100%);
$container-color: #FFF;
$scroll-bar-color: hsl($hue, 4%, 85%);
$scroll-thumb-color: hsl($hue, 4%, 75%);


/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;

$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

// Responsive typography
@media screen and (min-width: 968px){
    $biggest-font-size: 3rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}

/*========== Font weight ==========*/
$font-semi-bold: 600;
$font-bold: 700;

/*========== Margenes ==========*/
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;


/*=============== BASE ===============*/

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  // transition: .5s; for animation dark mode
}

h1, h2, h3 {
  font-weight: $font-semi-bold;
  color: $title-color;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== BUTTON ===============*/

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: $first-color;
  color: #1A1A1A;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  font-weight: $font-semi-bold;
  transition: .3s;

  &:hover {
    background-color: $first-color-alt;
  }

  &__header {
    display: none;
  }

  &-link {
    background: none;
    padding: 0;
    color: $title-color;

    &:hover {
      background-color: transparent;
    }
  }

  &-flex {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    padding: .75rem 1rem;
  }

  &__icon {
    font-size: 1.5rem;
  }
}

/*=============== CLASSES REUTILISSABLE ===============*/

.section {

  padding: 4.5rem 0 1rem;

  &__title, &__title-center {
    font-size: $h2-font-size;
    color: $title-color;
    text-align: center;
    margin-bottom: $mb-1;
  }
}

.svg {

  &__color {
    fill: $first-color;
  }

  &__blob {
    fill: $first-color-light;
  }

  &__img {
    width: 300px;
    justify-self: center;
  }
}

/*=============== LAYOUT ===============*/

.container {
  max-width: 968px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/

.header {
  width: 100%;
  background-color: $body-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  transition: .5s; // for animation dark mode
}

/*=============== Change background header ===============*/
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/*=============== NAV ===============*/

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__menu {

    @media screen and (max-width: 767px){
      position: fixed;
      background-color: $container-color;
      box-shadow: 0 0 4px rgba(0, 0, 0, .1);
      padding: 2.5rem 0;
      width: 90%;
      top:-100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: $z-fixed;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }

  &__link {
    text-transform: capitalize;
    position: relative;
  }

  &__link,
  &__logo,
  &__toggle {
    color: $title-color;
    font-weight: $font-bold;
  }

  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

/*=============== Active link ===============*/
.active-link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: $title-color;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.5, .7, .4, 1);
  }
}


/*=============== HOME ===============*/

.home {

  &__container {
    row-gap: 3rem;
  }

  &__title {
    
    font-size: $biggest-font-size;
    font-weight: $font-bold;
    margin-bottom: $mb-0-75;
  }

  &__description {
    margin-bottom: $mb-2;
  }
}


/*=============== ABOUT ===============*/

.about {

  &__container {
    gap: 2.5rem;
  }

  &__data {
    text-align: center;
  }
}

/*=============== SECURITY ===============*/

.security{

  &__container{
    gap: 2.5rem;
  }

  &__description {
    text-align: center;
  }
}

/*=============== SERVICES ===============*/

.services {

  &__container{
    padding-top: 1rem;
  }

  &__data {
    display: grid;
    row-gap: 1rem;
    background-color: var($container-color);
    box-shadow: 0 2px 6px hsla($hue, 100%, 15%, .15);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
  }

  &__img {
    width: 135px;
    justify-self: center;
    margin-bottom: $mb-0-5;
  }

}

/*=============== APP ===============*/

.app {

  &__container {
    gap: 2.5rem;
  }

  &__data {
    text-align: center;
  }

  &__description{
    margin-bottom: $mb-1-5;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: .5rem;
  }
}

/*=============== CONTACT ===============*/

.contact {

  &__container {
    padding-bottom: 3rem;
  }

  &__description {
    text-align: center;
  }

  &__content {
    row-gap: .75rem;
  }

  &__address {
    font-size: $small-font-size;
    font-weight: $font-semi-bold;
  }

  &__information {
    font-weight: initial;
    color: $text-color;
  }
}


/*=============== FOOTER ===============*/

.footer {
  background-color: $first-color-lighten;
  padding-bottom: 2rem;

  &__container {
    row-gap: 2rem;
  }

  &__logo,
  &__title {
    font-size: $h3-font-size;
    margin-bottom: $mb-0-75;
  }

  &__logo {
    display: inline-block;
    font-weight: $font-semi-bold;
    color: $title-color;
  }

  &__description,
  &__link {
    font-size: $small-font-size;
  }

  &__links {
    display: grid;
    row-gap: .5rem;
  }

  &__link {
    color: $title-color;
  }

  &__social {
    display: flex;
    column-gap: 1.5rem;

    &-link {
      font-size: 1.25rem;
      color: $title-color;
    }
  }

  &__copy {
    margin-top: 6rem;
    text-align: center;
    font-size: $small-font-size;
    color: $text-color;
  }
}