/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== Margenes ==========*/
/*========== z index ==========*/
/*=============== BASE ===============*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: white;
  color: #5d5b56;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

h1, h2, h3 {
  font-weight: 600;
  color: #282725;
  line-height: 1.5; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/*=============== BUTTON ===============*/
.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #fdcb35;
  color: #1A1A1A;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  font-weight: 600;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .button:hover {
    background-color: #fdc212; }
  .button__header {
    display: none; }
  .button-link {
    background: none;
    padding: 0;
    color: #282725; }
    .button-link:hover {
      background-color: transparent; }
  .button-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: .25rem;
    column-gap: .25rem;
    padding: .75rem 1rem; }
  .button__icon {
    font-size: 1.5rem; }

/*=============== CLASSES REUTILISSABLE ===============*/
.section {
  padding: 4.5rem 0 1rem; }
  .section__title, .section__title-center {
    font-size: 1.25rem;
    color: #282725;
    text-align: center;
    margin-bottom: 1rem; }

.svg__color {
  fill: #fdcb35; }

.svg__blob {
  fill: #feebb3; }

.svg__img {
  width: 300px;
  -ms-grid-column-align: center;
  justify-self: center; }

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem; }

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

/*=============== Change background header ===============*/
.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

/*=============== NAV ===============*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: #FFF;
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      border-radius: 2rem;
      z-index: 100; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 1.5rem; }
  .nav__link {
    text-transform: capitalize;
    position: relative; }
  .nav__link, .nav__logo, .nav__toggle {
    color: #282725;
    font-weight: 700; }
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer; }

/*=============== Active link ===============*/
.active-link {
  position: relative; }
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: #282725;
    border-radius: 50%;
    -webkit-transition: all 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
    -o-transition: all 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
    transition: all 0.3s cubic-bezier(0.5, 0.7, 0.4, 1); }

/*=============== HOME ===============*/
.home__container {
  row-gap: 3rem; }

.home__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem; }

.home__description {
  margin-bottom: 2rem; }

/*=============== ABOUT ===============*/
.about__container {
  gap: 2.5rem; }

.about__data {
  text-align: center; }

/*=============== SECURITY ===============*/
.security__container {
  gap: 2.5rem; }

.security__description {
  text-align: center; }

/*=============== SERVICES ===============*/
.services__container {
  padding-top: 1rem; }

.services__data {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  background-color: var(#FFF);
  -webkit-box-shadow: 0 2px 6px rgba(77, 57, 0, 0.15);
  box-shadow: 0 2px 6px rgba(77, 57, 0, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center; }

.services__img {
  width: 135px;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-bottom: 0.5rem; }

/*=============== APP ===============*/
.app__container {
  gap: 2.5rem; }

.app__data {
  text-align: center; }

.app__description {
  margin-bottom: 1.5rem; }

.app__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[2];
  -ms-grid-columns: (max-content)[2];
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: .5rem; }

/*=============== CONTACT ===============*/
.contact__container {
  padding-bottom: 3rem; }

.contact__description {
  text-align: center; }

.contact__content {
  row-gap: .75rem; }

.contact__address {
  font-size: 0.813rem;
  font-weight: 600; }

.contact__information {
  font-weight: initial;
  color: #5d5b56; }

/*=============== FOOTER ===============*/
.footer {
  background-color: #fee59a;
  padding-bottom: 2rem; }
  .footer__container {
    row-gap: 2rem; }
  .footer__logo, .footer__title {
    font-size: 1.125rem;
    margin-bottom: 0.75rem; }
  .footer__logo {
    display: inline-block;
    font-weight: 600;
    color: #282725; }
  .footer__description, .footer__link {
    font-size: 0.813rem; }
  .footer__links {
    display: -ms-grid;
    display: grid;
    row-gap: .5rem; }
  .footer__link {
    color: #282725; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem; }
    .footer__social-link {
      font-size: 1.25rem;
      color: #282725; }
  .footer__copy {
    margin-top: 6rem;
    text-align: center;
    font-size: 0.813rem;
    color: #5d5b56; }

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: #fdcb35;
  right: 1rem;
  bottom: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: .4;
  -ms-transform: .4;
  transform: .4; }
  .scrollup:hover {
    background-color: #fdcb35;
    opacity: 1 !important; }
  .scrollup__icon {
    font-size: 1.25rem;
    color: #282725; }

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: .5rem;
  background-color: #dadad7; }
  ::-webkit-scrollbar-thumb {
    background-color: #c2c1bd;
    border-radius: .5rem; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a9a8a2; }

/*=============== Theme  ===============*/
/*=============== Variable Theme Dark  ===============*/
.dark-theme {
  background-color: #1F1E1C; }
  .dark-theme .header {
    background-color: #24221E; }
  .dark-theme .active-link::before {
    background-color: #FFF; }
  .dark-theme .nav__logo, .dark-theme .nav__toggle, .dark-theme .change-theme, .dark-theme .nav__link, .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme .button-link, .dark-theme .footer__link, .dark-theme .footer__logo, .dark-theme .footer__description, .dark-theme .footer__copy, .dark-theme .footer__social-link, .dark-theme p, .dark-theme .contact__adress, .dark-theme .contact__information {
    color: #FFF; }
  .dark-theme .scroll-header {
    -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5); }
  .dark-theme .services__data, .dark-theme .nav__menu, .dark-theme .footer {
    background-color: #2C2A26; }

/*=============== Button Dark/Light ===============*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: #282725;
  font-size: 1.8rem;
  cursor: pointer; }
